.container {
  margin: 0 9px 40px 9px;
  position: relative;
  width: 275px;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(4, minmax(min-content, max-content));
}

.img {
  padding: 0 16px 0 16px;
}
.priceContainer {
  display: flex;
  align-items: center;
}
.span {
  margin-right: 8px;
  margin-bottom: 8px;
  margin-top: 4px;
}
.link {
  color: inherit;
  text-decoration: none;
}
