.link {
  text-decoration: none;
}

.activeLink {
  color: white;
}
.linkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 192px;
  margin-bottom: 80px;
}

.leftContentContainer {
  width: 320px;
}
.profileContainer {
  display: flex;
  justify-content: space-between;
  max-width: 860px;
  margin: 180px auto 0 auto;
}
.text {
  color: #8585ad;
  opacity: 0.4;
}
