.modal {
  padding: 0;
  margin: 0;
  width: 720px;
  min-height: 538px;
  background: #1c1c21;
  position: relative;
  border-radius: 40px;
}

.icon {
  position: absolute;
  right: 40px;
  top: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
}
