.header {
  background: var(--background);
}
.menu {
  margin: 0;
  padding: 16px 0 16px 0;
  list-style-type: none;
  display: grid;
  grid-template-columns:
    minmax(max-content, min-content) minmax(max-content, min-content)
    1fr minmax(max-content, min-content);
  justify-items: center;
  align-items: center;
}
.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}

.menuItem:nth-child(2) {
  margin-left: 25px;
}

.menuLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.menuLinkActive {
  color: white;
}
.Logo {
  margin-left: -150px;
}
