.fakeConntainer {
  text-align: center;
  padding: 16px 24px;
  display: inline-block;
  border-radius: var(--common-border-radius-s);
  background: var(--background-element);
  max-width: 536px;
  width: 100%;
  min-height: 80px;
  font-family: "Jet Brains Mono";
  font-size: 16px;
  line-height: 44px;
  color: #f2f2f3;
  flex-grow: 1;
  box-sizing: border-box;
}

.fakeConntainerMiddle {
  border-radius: var(--common-border-radius-s);
}

.fakeConntainerTop {
  border-radius: var(--top-constructor-item-border-radius);
}

.fakeConntainerBottom {
  border-radius: var(--bottom-constructor-item-border-radius);
}
