.section {
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, minmax(max-content, min-content));
}
.sectionDev {
  display: flex;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 40px;
  overflow: hidden;
  overflow-y: scroll;
  height: 530px;
}

.div {
  display: flex;
}
